.footer__green {
    color: #1ed15e;
}

.footer__icon:hover, .footer__green:hover {
    transition: transform 0.2s ease-in-out;
    /*Grows 20%*/
    transform: scale(1.2) !important;
}

* .MuiSlider-root {
    color: green;
}